@font-face {
     font-family: 'Marguaritas';
     font-style: normal;
     font-weight: 400;
     src: local('Marguaritas'), url('https://fonts.cdnfonts.com/s/76273/Marguaritas.woff') format('woff');
}
 * {
    margin: 0;
    padding: 0;
    font-weight:normal;
}
 body {
     background-color:black;
     color:white;
     font-family: 'Marguaritas', sans-serif;
}
 .titulo{
     position: sticky;
     height:clamp(10vh);
     text-align:center;
     vertical-align:middle;
     font-size: clamp(25px, 5vw, 180px);
   z-index:3;
}
 .contenedor{
     height:90vh;
     text-align: center;
     vertical-align:bottom;
     font-size: clamp(30px, 8vw, 80px);
}
 .opciones * {
     background: #4205ab;
     display: absolute;
     padding: 5vh 5vw 5vh 5vw;
     color: #ffffff;
     border-radius: 25px;
     border-color: #ffffff;
     font-weight: bold;
     font-size: clamp(30px, 8vw, 30px);
}
 .no {
     position: absolute;
     top: calc(10vh+45%);
     left: 35%;
      z-index:2;
}
 .si {
     position: absolute;
     top: 25vh;
     left: 50vw;
}
img.loveu{
  height:60vh;
  width:auto;
  border-radius: 40% 60% 78% 22% / 74% 31% 69% 26%;
  
  
}